<script src="https://cdn.tailwindcss.com"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>

<div class="bg-[#101828] pt-8 lg:py-0">
  <div
    class="grid  grid-flow-row-dense lg:grid-flow-col-dense lg:mx-10 xl:mx-20 lg:py-10"
  >
    <div
      class="py-4 flex flex-col items-center lg:items-start text-center lg:text-left"
    >
      <div>
        <img class="w-36" src="/assets/images/Main-logo.png" alt="" />
      </div>
      <p class="text-white w-3/5 pt-4">
        It is a long established fact that a reader will be distracted by the
        readable content .
      </p>
      <p class="flex gap-4 text-white pt-3 text-2xl">
        <a href="">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-x"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </p>
    </div>

    <div class="flex flex-col items-center lg:items-end py-4">
      <div
        class="py-2 lg:py-0 flex self-stretch lg:self-auto justify-around lg:justify-normal lg:gap-16"
      >
        <p
          class="flex flex-col lg:flex-row lg:gap-4 lg:text-left items-center text-center text-gray-300 mb-4"
        >
          <span
            ><img class="w-6 lg:w-auto" src="/assets/images/mail.png" alt=""
          /></span>
          <span
            >Email <br />
            <a class="text-white lg:text-2xl" href=""
              >quickfix@gmail.com</a
            ></span
          >
        </p>

        <p
          class="flex flex-col lg:flex-row lg:gap-4 lg:text-left items-center text-center text-gray-300 mb-4"
        >
          <span
            ><img
              class="w-6 lg:w-auto"
              src="/assets/images/phone_in_talk.png"
              alt=""
          /></span>
          <span
            >Call Us <br />
            <a class="text-white lg:text-2xl" href="">(123) 555-0126</a></span
          >
        </p>
      </div>
      <div class="text-gray-300 flex gap-10 py-4 font-light">
        <a href="">Home</a><a href="">About Us</a><a href="">Services</a
        ><a href="">Contact Us</a>
      </div>
    </div>
  </div>
  <hr
    style="height: 1px; opacity: 16%"
    class="mx-10 xl:mx-20 bg-[#FFFFFF] border-none"
  />
  <!-- bottom of footer -->
  <div
    class="flex flex-col lg:flex-row lg:justify-between lg:mx-10 xl:mx-20 gap-y-1 items-center py-4 text-gray-400"
  >
    <div><p>© QuickFix Copyright 2024 All Rights Reserved.</p></div>
    <div><a href=""></a> Privacy Policy <a href=""> Terms of Service</a></div>
  </div>
</div>
