@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  transition: background-color 0.5s;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: "Syne", sans-serif;
}
p,
a,
button,
summary,
span,
.sliderValue {
  font-family: Helvetica;
}
input,
textarea {
  color: #171717 !important;
}
#blackOverlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.sidebar {
  transition: 0.6;
}
/*css for details*/
@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

details {
  border-bottom: 1px solid #d0d5dd;
  transition: border-bottom 0.3s ease-in-out;
}
details:last-child {
  border-bottom: none;
}
details[open] > *:not(summary) {
  animation: details-show 0.5s ease-in-out;
}

details > summary {
  cursor: pointer;
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-block: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
details:hover {
  border-color: gray;
}
details p {
  padding-bottom: 1.5rem;
  margin: 0;
}
details > summary::after {
  content: "+";
  position: absolute;
  right: 10px;
  color: #006b61;
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}
details[open] > summary::after {
  content: "–";
  transform: rotate(180deg);
}
/*form*/
.tab {
  display: none;
}
.step {
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  font-size: 12px;
  color: #ffffff;
}
.step::after {
}
/****slider of form step 3****/
.range-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 30px;
  background: #f87171;
  border-radius: 32px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.range-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #f87171;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
/*testimonial*/
.child {
  flex-direction: column;
  justify-content: space-between;
}
/*****/
.step5 label,
.step6 label,
.step4 label {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .step5 label,
  .step6 label,
  .step4 label {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .step5 label,
  .step6 label,
  .step4 label {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
  }
}
